  <div class="card col-centered">
    <div class="card-content">
      <div class="box">
        <div class="img">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/06/13/17/30/mail-1454733_1280.png">
        </div>
        <h2> {{name}} <br><span>message</span></h2>
        <p> message content blablablababababljosigja;skgj;oasijdg;oi jqrofijas</p>
        <p> date of the message</p>
        <span>
            <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </span>
      </div>
    </div>
  </div>

